<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <h1>Création</h1>
        <p>Step4 : [creation.ejs] Faire un formulaire de creation de personnalité avec comme method POST et comme action '/creation'</p>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
